.cardContainer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 10px;
    column-gap: 10px;
    margin : 0 10px 0 10px;
}

.card{
    padding: 10px;
    border : solid black;
    
}

.card:hover{
    cursor: pointer;
}



